body, html {
    font-family: 'Press Start 2P', cursive;
    color: #971a56;
    background-color: #edace9;
}

section {
    text-align: center;
}
.game--container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell {
    font-family:  'Press Start 2P', cursive;
    width: 100px;
    height: 100px;
    box-shadow: 2px 1px 8px 1px #d961ba;
    border: 1px solid #971a56;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}


button{
    background-color: #71c1e1;
    border: 4mm ridge rgba(211, 220, 50, .6);
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    color: #971a56;
}


.game--title{
    margin-top: 140px;
}